@font-face{ font-family: GraphikLight; src: url('../font/GraphikLight.otf')}
@font-face{ font-family: GraphikMedium; src: url('../font/GraphikMedium.otf')}
@font-face{ font-family: GraphikRegular; src: url('../font/GraphikRegular.otf')}
@font-face{ font-family: GraphikSemibold; src: url('../font/GraphikSemibold.otf')}
@font-face{ font-family: GraphikBold; src: url('../font/GraphikBold.otf')}

.white_header{
    background:white;
    width: 1120px;
    height: 100vh;;
    float:right;
    font-family: GraphikBold;
    color:#f05d0e;
    font-size:35px;
    padding-left: 2%;
    padding-top:2%;
}

.white_body{
    font-family: GraphikLight;
    color: black;
    font-size:16px;
    padding-top:2%;
    padding-right:2%;
}

.description{
    font-family: GraphikLight;
    color: black;
    font-size:12px;
    padding-top:1%;
    padding-right:2%;
}
